<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>ec2</name>
  <description></description>
  <remoteFS>/home/ubuntu/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.834.v622da_57f702c">
    <host>18.197.69.214</host>
    <port>22</port>
    <credentialsId>317c14e8-0c93-4e5a-9925-75bb69f4cf0b</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>ec2</label>
  <nodeProperties/>
</slave>